
/* Vomnibar CSS */

#vomnibar ol, #vomnibar ul {
  list-style: none;
  display: none;
}

#vomnibar {
  background: #1e1e1e;
  color: #d4d4d4;
  display: block;
  position: fixed;
  width: 60%;
  top: 20%;
  left: 20%;
  font-family: sans-serif;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 8px 26px 8px rgba(0, 0, 0, 0.2);
  z-index: 2139999999; /* One less than hint markers and the help dialog (see ../content_scripts/vimium.css). */
}

#vomnibar input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 38px;
  margin-bottom: 0;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  padding-left: 27px;
}

#vomnibar .vomnibarSearchArea {
  display: block;
}

#vomnibar ul {
  border-top: 1px solid #2d2d2d;
  border-radius: 0 0 4px 4px;
  list-style: none;
}

#vomnibar li {
  border-bottom:1px solid #2d2d2d;
  line-height: 1.1em;
  padding: 7px 10px;
  font-size: 16px;
  position: relative;
  display: list-item;
  margin: auto;
}

#vomnibar li:last-of-type {
  border-bottom: none;
}

#vomnibar li .vomnibarTopHalf, #vomnibar li .vomnibarBottomHalf {
  display: block;
  overflow: hidden;
}

#vomnibar li .vomnibarBottomHalf {
  font-size: 15px;
  margin-top: 3px;
  padding: 2px 0;
  white-space: nowrap;
}

#vomnibar li .vomnibarIcon {
  background-position-y: center;
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 20px;
}

#vomnibar li .vomnibarSource {
  color: #777;
  display: inline-block;
  widows: 2%;
}
#vomnibar li .vomnibarRelevancy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: white;
  font-family: monospace;
  width: 100px;
  overflow: hidden;
}

#vomnibar li .vomnibarUrl {
  white-space: nowrap;
  color: #224684;
}

#vomnibar li em, #vomnibar li .vomnibarTitle {
  display: inline-block;
  width: 96%;
  white-space: nowrap;
}

#vomnibar li em {
  font-style: italic;
}

.vomnibarMatch {
  font-weight: bold;
  color: #569cd6;
}

#vomnibar li.vomnibarSelected {
  background-color: #2d2d2d;
  font-weight: normal;
}

#vomnibarInput::selection {
  /* This is the light grey color of the vomnibar border. */
  /* background-color: #F1F1F1; */

  /* This is the light blue color of the vomnibar selected item. */
  /* background-color: #BBCEE9; */

  /* This is a considerably lighter blue than Vimium blue, which seems softer
   * on the eye for this purpose. */
  background-color: #E6EEFB;
}

.vomnibarNoInsertText {
  visibility: hidden;
}
